*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header .container{
  justify-content: space-around;
}

.container {
  width: 100%;
  display: flex;
}

.logo img {
  width: 130px;
  transition: all 0.2s ease-in-out;
}

.nav-list ul{
  padding: 10px;
  display: flex;
  gap: 2rem;
}

.nav-list li {
  list-style-type: none;
  gap: 1rem;
}

.container .nav-list li a {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  transition: all 0.2s ease-in-out;
}
.container .nav-list li:hover a {
  background-color: #A73121;
  color: white;
}

/* Main CSS */

main .container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.intro-card{
  padding: 30px;
  /* background-color: red; */
}

.intro-card .text-pizza{
  margin-top: 140px;
  padding: 10px;
}

.text-pizza h3{
  font-size: 24px;
  font-weight: bold;
}

.text-pizza p{
  width: 600px;
  font-size: 18px;
  font-weight: 400;
}

.btn{
  background: #A73121;
  width: 150px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 700;
  color: white;
  transition: all 0.2s ease-in-out;
}

.btn a{
  text-decoration: none;
  color: inherit;
}

.img-front img{
  width: 500px;
}